
/* font */

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

/* shared-style- */
.dark-01{
    color:rgba(19, 19, 19, 1)
}
.dark-02{
    color:rgba(66, 66, 66, 1)
}
.dark-03{
    color:rgba(114, 114, 114, 1)
}
.bold{
    font-size: 2.8125rem;
    font-weight: 700;
}
.high-bold{
    font-weight: 700;
    font-size: 4rem;
}
.regular-font{
    font-size:1rem;
    font-weight: 400;
}
.semi-bold{
    font-size:1.25rem;
    font-weight: 600;
}
.semi-45{
    font-size: 2.5125rem;
    font-weight: 600;
}
.semi-regular{
    font-size: 1.25rem;
    font-weight: 600;
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color:rgba(255, 255, 255, 1);
    padding:16px 20px;
    border-radius: 8px;
    margin-bottom: 32px;
    border:none;
}
.btn-primary:hover{
    background-color:#0056b3; ;
}
/* shared-end */
.heading{
    background-color: rgba(255, 144, 14, 0.1);
    max-width: 1920px;
    /* ekhn ektu flex diye korar iccah hoice */
    /* kintu-responsive e jhamela hoy */
    margin: 0 auto;
}
.header-section{
    max-width: 1440px;
   margin: 0 auto;

    
}
.logo-nav{
    display:flex;
    justify-content: space-between;
    max-width: 1440px; 
    align-items: center;
    
}
nav a{
    text-decoration: none;
}
.nav-item{
    list-style: none;
    display:flex;
    gap: 50px;
  
    
}
.nav-item a{
    color:rgba(66, 66, 66, 1)
}
.header-content{
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
}

.header-title{
    text-align: center;
    margin-bottom: 32px;

}
.header-description{
    margin-bottom: 32px;
    text-align:center;
}
.header-img{
    margin-bottom: 45px;
    width:100%;
}
/* main */
 
#feature-heading-style-01{
    font-size:2.8125rem;
    font-weight: 600;
    color:rgba(114, 114, 114, 1)
}
#feature-heading-style-02{
    font-size:2.8125rem;
    font-weight: 700;
     color:rgba(19, 19, 19, 1)
}
#feature-heading-style-03{
    font-size:2.8125rem;
    font-weight: 600;
    color:rgba(255, 144, 14, 1)
}
.features{
    display:flex;
    max-width: 1350px;
    margin: 84px auto;
    gap: 73px;
    align-items: center;

}
.img-section{
    display:grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}
.feature-content{
    max-width: 537px;
}
.feature-heading{
    margin-bottom: 24px;
}
.feature-description{
    margin-bottom: 32px;
}
.love-and-enjoy{
    display:flex;
    max-width: 1440px;
    margin: 0 auto;
    gap: 125px;
   
}
.love-and-enjoy-title{
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 21px;
    margin-bottom: 40px;
    margin-top: 0;
}
.love-and-enjoy-content{
   max-width: 586px;
}
.love-and-enjoy-image{
  max-width: 800px;
}

.card-01
{
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
margin-bottom: 20px;
padding: 40px;
border-radius: 8px;
}
 .card-heading{
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0;
 }
  
    
  
.love-and-enjoy-subtitle{
    margin-bottom: 30px;
}
.card-description{
    font-weight: 400;
    font-size: 1rem;
}
.btn-position{
    margin-right: 25px;
    background-color:rgba(255, 144, 14, 1);
    padding: 46px;
    font-weight: 500;
    font-size: 1.5625rem;
    color:white;
    margin-left: -85px;
    margin-top: -125px;
    border:none;
    border-radius: 8px;
}
.btn-position:hover{
    background-color: #0056b3;
}
.year{
    color:white;
    font-size: 4.0625rem;
    font-weight: 700;
}

.facts{
    max-width: 1440px;
    margin: 130px auto;
}
.facts-heading{
    margin: 0 0 24px 0;
}
.awards{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:161px;
    justify-content: center;
    margin: 80px auto;
    /* sob ghor gulo kmn jno choto boro tai justifuy content center dile same hoy ghor gulo */
    max-width: 1350px;

}
.award-1{
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    padding: 45px 26px 60px;
    display:grid;
    justify-items: center;
    justify-content: center;
    
}
.award-heading{
    margin: 5px 0 0 0;
}
.award-discription{
    margin: 5px 0 0 0;
}
.our-sponsor{
    max-width: 1440px;
    margin: 0 auto;
} 

.sponsor-title{
    text-align: center;
    margin-bottom: 50px;
}
.sponsor-head{
    margin-bottom: 24px;
}
.companies{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer{
    background-color: rgba(255, 244, 231, 1);
    max-width: 1440px;
    margin: 130px auto 0px;
    padding: 39px 0px;
    text-align: center;
    font-size:1.25rem;
    font-weight: 400;
   
}


@media screen and (max-width:658px){
    .logo-nav{ 
        flex-direction: column;
        justify-content: center;
    }
    .features{
        flex-direction: column;
    }
    .img-section{
        grid-template-columns: 1fr;
    }
    .love-and-enjoy{
        flex-direction: column;
        gap: 10px;
    }
    .flex-img{
        width:100%
    }
    .btn-position{
    background-color:rgba(255, 144, 14, 1);
    padding: 15px;
    font-weight: 500;
    font-size: 1.25rem;
    color:white;
    margin:0;
    text-align: center;
    justify-items: center;
    
    }
    .year{
    color:white;
    font-size: 2.0625rem;
    font-weight: 700;
}
    .img-tag{
        display: flex;
        justify-content: center;
        
    }
    .awards{
        grid-template-columns: 1fr;
        width:70%;
        gap: 5px;
    }
    .companies{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap:50px;
    }
}